<h1>Likes#index</h1>

<% @likes.each do |like| %>
  <div class="media">
    <div class="media-body">
      <%= link_to like.bookmark.topic.title, topic_path(like.bookmark.topic) %>
      <div class="row">
        <%= link_to like.bookmark.url, topic_bookmark_path(like.bookmark.topic, like.bookmark) %>
        <small>
          <%= like.user.name %> liked <%= time_ago_in_words(like.created_at) %> ago
        </small>
      </div>
      <div class="row">
        <%= render partial: 'likes/like', locals: { bookmark: like.bookmark } %>
      </div>

    </div>
  </div>
<% end %>
