<h1>Likes#index</h1>

<% @bookmarks.each do |bookmark| %>
  <div class="media">
    <div class="media-body">
      <%= link_to bookmark.topic.title, topic_path(bookmark.topic) %>
      <div class="row">
        <%= link_to bookmark.url, topic_bookmark_path(bookmark.topic, bookmark) %>
        <small>
          <%= bookmark.getLike.user.name %> liked <%= time_ago_in_words(bookmark.getLike.created_at) %> ago
        </small>
      </div>
      <div class="row">
        <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
      </div>

    </div>
  </div>
<% end %>
