<h1>Likes#index</h1>
<% @bookmarks.each do |bookmark| %>
  <%= link_to bookmark.topic.title, topic_path(bookmark.topic) %>
  <%= link_to bookmark.url, topic_bookmark_path(like.bookmark.topic, like.bookmark) %>
  <% bookmark.likes.each do |like| %>
    <div class="media">
      <div class="media-body">
        <div class="row">
          <small>
            <%= like.user.name %> liked <%= time_ago_in_words(like.created_at) %> ago
          </small>
        </div>
        <div class="row">
          <%= render partial: 'likes/like', locals: { bookmark: like.bookmark } %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
